#youtube-comments-to-wp {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#youtube-comments-to-wp.p_youtubecommentstowp {
  .p_youtubecommentstowp {
    &__row {
      display: flex;
      gap: 5px;
      flex-direction: column;
      align-items: flex-start;
      text-decoration: none;
      position: relative;
      &:after {
        display: none;
      }
    }
    &__link {
      position: absolute;
      z-index: 1;
      inset: 0;
      &:after {
        display: none;
      }
    }
    &__toplevel {
      display: flex;
      gap: 16px;
      align-items: flex-start;
    }
    &__thumb {
      margin-left: auto;
      width: 120px;
      height: auto;
      flex-shrink: 0;
    }
    &__comment {
      display: flex;
      gap: 16px;
      align-items: flex-start;
    }
    &__icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      flex-shrink: 0;
    }
    &__content {
    }
    &__meta {
      font-size: 13px;
      margin-bottom: 3px;
    }
    &__author {
    }
    &__date {
      opacity: 0.6;
    }
    &__text {
      p {
        font-size: 13px;
        line-height: 1.6;
        margin: 0;
        padding: 0;
      }
    }
    &__replys {
      display: flex;
      flex-direction: column;
      gap: 5px;
      border-left: 2px solid rgba($color: white, $alpha: 0.6);
      .p_youtubecommentstowp__icon {
        width: 25px;
        height: 25px;
        margin-left: 15px;
      }
    }
  }
}
#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi {
  .p_youtubecommentstowp_fukidashi {
    &__row {
      display: flex;
      gap: 5px;
      flex-direction: column;
      align-items: flex-start;
      text-decoration: none;
      position: relative;
      &:after {
        display: none;
      }
    }
    &__link {
      position: absolute;
      z-index: 1;
      inset: 0;
      &:after {
        display: none;
      }
    }
    &__comment {
      display: flex;
      flex-direction: column;
    }
    &__meta {
      font-size: 13px;
      margin-bottom: 3px;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
    }
    &__icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 16px;
      grid-row: span 2;
    }
    &__author {
    }
    &__date {
      opacity: 0.6;
    }
    &__text {
      background: #f4f4f4;
      padding: 15px;
      position: relative;
      margin: 20px 0 5px;
      &:before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 10px;
        width: 20px;
        height: 15px;
        clip-path: polygon(0 100%, 50% 0, 100% 100%);
        background: #f4f4f4;
        transform: translateY(-1px);
      }
      p {
        margin: 0;
        padding: 0;
        font-size: 13px;
        line-height: 1.6;
        color: black;
      }
    }
    &__replys {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .p_youtubecommentstowp_fukidashi__icon {
        width: 25px;
        height: 25px;
        margin-left: 15px;
      }
      .p_youtubecommentstowp_fukidashi__text {
        margin-left: 15px;
        &:before {
          left: 0;
        }
      }
    }
  }
}
