#youtube-comments-to-wp {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

#youtube-comments-to-wp.p_youtubecommentstowp .p_youtubecommentstowp__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none;
  position: relative;
}
#youtube-comments-to-wp.p_youtubecommentstowp .p_youtubecommentstowp__row:after {
  display: none;
}
#youtube-comments-to-wp.p_youtubecommentstowp .p_youtubecommentstowp__link {
  position: absolute;
  z-index: 1;
  inset: 0;
}
#youtube-comments-to-wp.p_youtubecommentstowp .p_youtubecommentstowp__link:after {
  display: none;
}
#youtube-comments-to-wp.p_youtubecommentstowp .p_youtubecommentstowp__toplevel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#youtube-comments-to-wp.p_youtubecommentstowp .p_youtubecommentstowp__thumb {
  margin-left: auto;
  width: 120px;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
#youtube-comments-to-wp.p_youtubecommentstowp .p_youtubecommentstowp__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#youtube-comments-to-wp.p_youtubecommentstowp .p_youtubecommentstowp__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
#youtube-comments-to-wp.p_youtubecommentstowp .p_youtubecommentstowp__meta {
  font-size: 13px;
  margin-bottom: 3px;
}
#youtube-comments-to-wp.p_youtubecommentstowp .p_youtubecommentstowp__date {
  opacity: 0.6;
}
#youtube-comments-to-wp.p_youtubecommentstowp .p_youtubecommentstowp__text p {
  font-size: 13px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
#youtube-comments-to-wp.p_youtubecommentstowp .p_youtubecommentstowp__replys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  border-left: 2px solid rgba(255, 255, 255, 0.6);
}
#youtube-comments-to-wp.p_youtubecommentstowp .p_youtubecommentstowp__replys .p_youtubecommentstowp__icon {
  width: 25px;
  height: 25px;
  margin-left: 15px;
}

#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi .p_youtubecommentstowp_fukidashi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none;
  position: relative;
}
#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi .p_youtubecommentstowp_fukidashi__row:after {
  display: none;
}
#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi .p_youtubecommentstowp_fukidashi__link {
  position: absolute;
  z-index: 1;
  inset: 0;
}
#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi .p_youtubecommentstowp_fukidashi__link:after {
  display: none;
}
#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi .p_youtubecommentstowp_fukidashi__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi .p_youtubecommentstowp_fukidashi__meta {
  font-size: 13px;
  margin-bottom: 3px;
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi .p_youtubecommentstowp_fukidashi__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 16px;
  grid-row: span 2;
}
#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi .p_youtubecommentstowp_fukidashi__date {
  opacity: 0.6;
}
#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi .p_youtubecommentstowp_fukidashi__text {
  background: #f4f4f4;
  padding: 15px;
  position: relative;
  margin: 20px 0 5px;
}
#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi .p_youtubecommentstowp_fukidashi__text:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10px;
  width: 20px;
  height: 15px;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  background: #f4f4f4;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi .p_youtubecommentstowp_fukidashi__text p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.6;
  color: black;
}
#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi .p_youtubecommentstowp_fukidashi__replys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi .p_youtubecommentstowp_fukidashi__replys .p_youtubecommentstowp_fukidashi__icon {
  width: 25px;
  height: 25px;
  margin-left: 15px;
}
#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi .p_youtubecommentstowp_fukidashi__replys .p_youtubecommentstowp_fukidashi__text {
  margin-left: 15px;
}
#youtube-comments-to-wp.p_youtubecommentstowp_fukidashi .p_youtubecommentstowp_fukidashi__replys .p_youtubecommentstowp_fukidashi__text:before {
  left: 0;
}/*# sourceMappingURL=style.css.map */